<!-- --------------------------------------------------------------------------------------- -->
<!-- spare nav -->
<!-- --------------------------------------------------------------------------------------- -->
<nav class="container-fluid d-flex justify-content-between align-items-center">
  <div class="logo d-flex justify-content-start align-items-center">
    <a routerLink="/nesyan" class="logo-image">
      <img src="./assets/images/Nesyan.png" alt="logo" class="w-100" />
    </a>
    <a routerLink="/nesyan" class="logo-text ps-2 mx-2">Nesyan</a>
  </div>
  <div class="d-flex justify-content-end align-items-center gap-2">
    <button
      class="lang-btn btn btn-outline-primary fw-bold"
      (click)="toggleLang()"
    >
      {{ "NAV.TOGGLE_LANG" | translate }}
    </button>
    <a
      routerLink="/nesyan"
      class="d-flex align-content-center btn btn-primary"
      >{{ "COMMON.LANDING" | translate }}</a
    >
  </div>
</nav>
