<app-spare-nav-second></app-spare-nav-second>
<!-- ---------------------------------------------------------------------------- -->
<!-- reset-password section  -->
<!-- ---------------------------------------------------------------------------- -->
<section class="reset-password-section">
  <div class="reset-password-container">
    <h3>{{ "RESET_PASSWORD.TITLE" | translate }}</h3>
    <div class="image w-25 h-25">
      <img src="./assets/images/Nesyan.png" alt="logo" class="w-100" />
    </div>
    <p>{{ "RESET_PASSWORD.CHECK_EMAIL" | translate }}</p>
    <div class="reset-password-form w-100">
      <form
        class="d-flex flex-column justify-content-center align-items-center gap-2 w-100"
        [formGroup]="resetPasswordForm"
      >
        <div class="input-group d-flex flex-column w-100">
          <label for="code">{{ "RESET_PASSWORD.CODE" | translate }}</label>
          <input
            formControlName="code"
            type="text"
            id="code"
            name="code"
            [placeholder]="'RESET_PASSWORD.CODE_PLACEHOLDER' | translate"
            required
          />
        </div>
        <div class="input-group d-flex flex-column w-100">
          <label for="newPassword">{{
            "RESET_PASSWORD.NEW_PASSWORD" | translate
          }}</label>
          <input
            formControlName="newPassword"
            type="password"
            id="newPassword"
            name="newPassword"
            [placeholder]="
              'RESET_PASSWORD.NEW_PASSWORD_PLACEHOLDER' | translate
            "
            required
          />
        </div>
        <div
          class="w-100 d-flex justify-content-start align-items-center m-0 p-0"
        >
          <p
            class="resend"
            role="button"
            (click)="resendCode()"
            [class.disabled]="resendDisabled"
            [attr.aria-disabled]="resendDisabled"
          >
            <span *ngIf="!resendDisabled">{{
              "RESET_PASSWORD.RESEND_CODE" | translate
            }}</span>
            <span *ngIf="resendDisabled"
              >{{ "RESET_PASSWORD.RESEND_DISABLED" | translate }} ({{
                getCountdownText()
              }})</span
            >
          </p>
        </div>
        <div
          class="navigate buttons w-100 d-flex justify-content-start align-items-center"
        >
          <button class="back" routerLink="/auth/login">
            {{ "COMMON.BACK" | translate }}
          </button>
          <button class="reset" (click)="resetPassword()">
            {{ "RESET_PASSWORD.RESET_BTN" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
